@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Titillium+Web:wght@200;300;400;600&display=swap');

.logo{
    height: 50px;
    width: 150px;
}
.nav{
    height: 67px;
    background-color: white;
    width: 85vw;
    /* border: 2px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.p1, .p2, .p3{
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.nav3{
    display: flex;
    column-gap: 2vw;
    margin-top: 1vh;
}

.top{
    margin-top: -35px;
    font-size: 16px;
}

.bg{
    background-image: url(https://dom-website-prod-cdn-cms.porter.in/10_year_5991a185c9_reduced_size_119kb_baa0f89e2c.gif);
    width: 98vw;
    height: 60vh;
}
.head{
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: 800px;
    height: -1px;
    background: none;
    opacity: 1;
    border: 0;
    margin-top: -375px;
    margin-left: 355px;
    margin-bottom: 1000px;
    padding: 0;
    max-width: 100%;
    /* border: 2px solid black; */
}

.container{
    margin-left: 245px;
    background-color: rgb(251, 250, 250);
    margin-top: -972px;
    height: 43vh;
    width: 67%;
    color: white;
    border-radius: 5px;
    display: grid;
    z-index: 1;
    grid-template-columns: 180px 180px 180px 180px 180px;
    column-gap: 10px;
}
.child{
    height: 115px;
    /* border: 2px solid black; */
    margin-top: 101px;
    margin-left: 55px;
    border-radius: 8px;
        background-color: rgba(47, 51, 126, 0.100);
}
.child1{
    height: 150px;
    /* border: 2px solid black; */
    margin-top: 82px;
    margin-left: 55px;
    background-color: #0041f5;
    border-radius: 8px;
}
.button{
    height: 36px;
    margin-left: 329px;
    font-size: 1.1rem;
    font-weight: bold;
    width: 144px;
    text-align: center;
    border-radius: 5px;
    /* padding-top: -6px; */
    height: 40px;
    padding-bottom: 3px;
    background-color: white;
}
/* .location{
     margin-top: 40vh; 
     margin-left: 8vw; 
}  */
.logo2{
    height: 200px;
    width: 300px;
    color: white;
}
.two_wheelers{
    height: 122px;
}
.two{
    color: black;
    margin-top: -1px;
    font-size: 1.2rem;
}
.trucks{
    color: black;
    font-size: 1.2rem;
    margin-top: -1px;
    text-align: center;
}
.packers{
    color: black;
    margin-top: -1px;
    font-size: 1.2rem;
    text-align: center;
}
.all{
    color: black;
    margin-top: -1px;
    font-size: 1.2rem;
    text-align: center;
}
.get{
    margin-top: 2vh;
    font-size: 1.5rem;
    padding-left: 1vw;
    height: 0vh;
}
.take{
    padding-left: 1vw;
    padding-top: 2.2vw;
    opacity: 0.6;
    height: 0vt;
}
.arrow{
    height: 33px;
    width: 50px;
    padding-left: 0.4vw;
}
.services{
    opacity: 0.6;
    font-size: 1.1rem;
    margin-left: 0.1vw;
    margin-top: 5vh;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ser{
    margin-top: 16vh;
}
.design{
    margin-left: 42vw;
}
.container2{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px 300px;
    column-gap: 20px;
    margin-top: 5vh;
    height: 35vh;
    overflow-x: scroll;
    padding-bottom: 3vh;
    /* scrollbar-width: .3rem; */
    scrollbar-width: thin;
    scrollbar-color: rgba(51, 51, 51, .24) #fff;
}
.child2{
    /* background-color: red; */
    border-radius: 20px;
}
.b1{
    background: conic-gradient(from 180deg at 50% 50%, #aa0047 0deg, #8a59f2 90deg, #aa0047 1turn), #8a59f2;
    cursor: pointer;
}
.b2{
    background: conic-gradient(from 180deg at 50% 50%, #00aa3a 0deg, #0f2597 90deg, #00aa3a 1turn), #8a59f2;
    cursor: pointer;
}
.b3{
    background: conic-gradient(from 180deg at 50% 50%, #0007aa 0deg, #b9063c 90deg, #0007aa 1turn), #8a59f2;
    cursor: pointer;
}
.b4{
    background: conic-gradient(from 180deg at 50% 50%, #0aa 0deg, #1410ca 90deg, #0aa 1turn), #8a59f2;
    cursor: pointer;
}
.b5{
    background: conic-gradient(from 180deg at 50% 50%, #aa0047 0deg, #8a59f2 90deg, #aa0047 1turn), #8a59f2;
    cursor: pointer;
}
.b6{
    background: conic-gradient(from 180deg at 50% 50%, #00aa3a 0deg, #0f2597 90deg, #00aa3a 1turn), #8a59f2;
    cursor: pointer;
}
.b11{
    background-color: rgba(255, 255, 255, 0.2);
    width: 9vw;
    font-size: 0.8rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.api{
    color: white;
    padding-left: 2.3vw;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}
.auto{
    color: white;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: left;
    padding-left: 2vw;
    margin-top: -0.1vh;
}
.arrow{
    background-color: rgba(255, 255, 255, 0.4);
    width: 4vw;
    border-radius: 15px;
    margin-left: 2vw;
    margin-top: -1.2vh;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
}
.arr{
    height: 8vh;
    width: 2vw;
    margin-top: -12px;
    margin-left: 12px;
}
.instant{
    color: white;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: left;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}